{# templates/auth/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" required="required">

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="_password" required="required">

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit">Connexion</button>
    </form>
{% endblock %}
